* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Karla;
    src: url("./fonts/Karla.ttf");
}

@font-face {
    font-family: DMSans;
    src: url("./fonts/DMSans-Medium.ttf");
}

@font-face {
    font-family: DMSans-Bold;
    src: url("./fonts/DMSans-Bold.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat.ttf");
}

nav {
    font-family: Karla;
    border: 0 solid;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
    background-color: #212529;
}

nav .Logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

nav .Menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border: 0 solid;
    width: 480px;
    justify-content: space-between;
    font-weight: bold;
}

nav .Menu ul li a {
    color: #9A9C9E;
    text-decoration: none;
    transition-duration: 300ms;
}

nav .Menu ul li .Caret {
    color: #9A9C9E;
    cursor: pointer;
    font-size: small;
    position: relative;
    bottom: 2px;
    transition-duration: 300ms;
}

nav .Menu ul li:hover a {
    color: #C7C8C9;
}

nav .Menu ul li:hover .Caret {
    color: #C7C8C9;
}

#Template {
    border: 0 solid;
    background-color: #212529;
    height: 550px;
}

#Template .Flex .Info {
    padding-top: 50px;
}

#Template .Flex .Info .Title h1 {
    color: white;
    font-size: 50px;
    font-family: DMSans-Bold;
}

#Template .Flex .Info .Title p {
    color: #9A9C9E;
    font-size: larger;
    padding-top: 15px;
    font-family: DMSans;
}

#Template .Flex .Info .Title {
    border: 0 solid;
    width: 600px;
}

#Template .Flex .Info .Buttons .Left {
    border: 1px solid #0D6EFD;
    width: 125px;
    height: 50px;
    background-color: #0D6EFD;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 300ms;
}

#Template .Flex .Info .Buttons .Left h3 {
    color: white;
    text-align: center;
    padding-top: 11px;
}

#Template .Flex .Info .Buttons .Right {
    border: 1px solid white;
    width: 125px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 300ms;
}

#Template .Flex .Info .Buttons .Right h3 {
    color: white;
    text-align: center;
    padding-top: 11px;
}

#Template .Flex .Info .Buttons {
    display: flex;
    flex-wrap: wrap;
    border: 0 solid white;
    width: 290px;
    justify-content: space-between;
    padding-top: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Template .Flex .Info .Buttons .Left:hover {
    border-color: #0B5ED7;
    background-color: #0B5ED7;
}

#Template .Flex .Info .Buttons .Right:hover {
    background-color: white;
}

#Template .Flex .Info .Buttons .Right:hover h3 {
    color: black;
}

#Template .Flex {
    display: flex;
    flex-wrap: wrap;
    border: 0 solid white;
    width: 1270px;
    justify-content: space-between;
    position: relative;
    left: 330px;
    top: 50px;
}

#Features {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 330px;
    top: 100px;
    border: 0 solid;
    width: 1240px;
    justify-content: space-between;
}

#Features .Title {
    font-family: DMSans-Bold;
    font-size: 20px;
    border: 0 solid;
    width: 300px;
}

#Features .Info h3 {
    font-family: DMSans;
    padding-top: 10px;
}

#Features .Info p {
    font-size: 18px;
    padding-top: 7px;
}

#Features .Info .Feature {
    border: 0 solid;
    width: 385px;
}

#Features .Info .Feature3and4 {
    padding-top: 50px;
}

#Features .Info {
    display: flex;
    flex-wrap: wrap;
    border: 0 solid;
    width: 820px;
    justify-content: space-between;
}

#Quote .Position .Text {
    font-family: Montserrat;
    font-weight: bold;
    font-style: italic;
    border: 0 solid;
    width: 610px;
    font-size: larger;
    text-align: center;
}

#Quote .Position .Author img {
    border-radius: 100%;
}

#Quote .Position .Author span {
    font-family: DMSans;
    position: relative;
    bottom: 15px;
    left: 13px;
}

#Quote .Position .Author .Slash {
    color: #277DFD;
}

#Quote .Position .Author {
    border: 0 solid;
    width: 265px;
    position: relative;
    top: 25px;
    left: 175px;
}

#Quote {
    background-color: #F8F9FA;
    height: 360px;
    position: relative;
    top: 205px;
}

#Quote .Position {
    position: relative;
    left: 650px;
    top: 110px;
    border: 0 solid;
    width: 615px;
    height: 145px;
}

#Blog {
    position: relative;
    border: 0 solid;
    top: 300px;
}

#Blog .Cards {
    
}

#Blog .Title h1 {
    font-family: DMSans-Bold;
    font-size: 30px;
}

#Blog .Title p {
    opacity: 0.6;
    font-size: larger;
    border: 0 solid;
    width: 500px;
    position: relative;
    left: 697px;
    top: 10px;
}

#Blog .Title {
    text-align: center;
}

#Blog .Cards .Card1 {
    border: 0 solid;
    width: 350px;
    height: 500px;
    cursor: pointer;
    box-shadow: 1px 1px 8px 1px gray;
}

#Blog .Cards .Card1 .Category {
    font-family: DMSans;
    border: solid #277DFD;
    background-color: #277DFD;
    color: white;
    width: 47px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    top: 30px;
}

#Blog .Cards .Card1 .Description h3 {
    font-family: DMSans;
    position: relative;
    top: 40px;
}

#Blog .Cards .Card1 .Description p {
    font-size: 18px;
    border: 0 solid;
    width: 340px;
    position: relative;
    top: 55px;
}

#Blog .Cards .Card1 .Author {
    position: relative;
    top: 115px;
}

#Blog .Cards .Card1 .Author img {
    border-radius: 100%;
}

#Blog .Cards .Card1 .Author h4 {
    font-family: DMSans;
    position: relative;
    left: 55px;
    bottom: 45px;
}

#Blog .Cards .Card1 .Author p {
    opacity: 0.6;
    position: relative;
    left: 55px;
    bottom: 42px;
}

#Blog .Cards .Card1 .Position1 {
    padding-left: 15px;
}